.header{
    background-color: #cf8f2e;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    grid-gap: 10px;
}
.logo{
    width:80px;
}